#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.profile{
  width: 8em;
  height: 8em;
  border: 2px solid #CCCCCC ;
  border-radius: 50%;
  margin: auto;
}

ul{
  list-style: url(./assets/medal.png);
  font-weight: 500;
}
