#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.profile{
  width: 8em;
  height: 8em;
  border: 2px solid #CCCCCC ;
  border-radius: 50%;
  margin: auto;
}

ul{
  list-style: url(./assets/medal.png);
  font-weight: 500;
  text-align: start;
  margin: auto;
  padding: 1.5em 0;
}

.BtnRegister {
  background: transparent;
  color: #1a1a1a8f;

  :hover{
    transform: scale(1.15);
  }

  ::before{
    border: none;
  }
  
}

